<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">TelePoke</a>
    </div>
    <p style="font-size:1.1em">Hi, {{name}}</p>
    <p>Welcome to <strong>TelePoke</strong>! We are excited to have you on board.</p>
    <p>Get started by exploring the app and connecting with your friends.</p>
    <p style="font-size:0.9em;">Regards,<br />TelePoke Team</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>TelePoke</p>
      <p>31/1 Postogola</p>
      <p>Dhaka - 1204</p>
    </div>
  </div>
</div>
